* {
  margin: 0%;
  padding: 0%; }

body {
  background-image: linear-gradient();
  margin: 12px;
  background-color: #f8f8f8;
  background-image: -webkit-linear-gradient(104deg, #bdc0c1 0%, #e6dee6 66%);
  background-image: -moz-linear-gradient(104deg, #bdc0c1 0%, #e6dee6 66%);
  background-image: -o-linear-gradient(104deg, #bdc0c1 0%, #e6dee6 66%);
  background-image: linear-gradient(104deg, #bdc0c1 0%, #e6dee6 66%);
  font-family: Manrope; }

.paginaBulon {
  background-image: url(../multimedia/pexels-pixabay-257736.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.fondo {
  background-image: url(../multimedia/pexels-scott-webb-2117937.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.distr {
  background-image: url(../multimedia/pexels-pixabay-257736.jpg);
  background-size: cover; }

.info {
  padding-top: 100px; }

.barra {
  background-color: #bdc0c1; }
  .barra .navbar-brand {
    background-color: transparent !important; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .fotoProducto {
    display: flex; }
  .columna {
    flex: 50%; } }

.productos {
  padding-top: 100px; }

.fondoProductos {
  background-color: #bdc0c1; }

.img1 {
  transition: transform 0.5s; }

:hover.img1 {
  transform: scale(0.95); }

.fotoProducto__texo {
  text-align: center; }

.grid-container {
  padding-top: 100px;
  display: grid;
  grid-template-areas: "col1  col1  col3" "col1  col1   col3" "col2  col2    col2";
  grid-template-rows: 300px auto auto;
  grid-template-columns: auto auto auto; }
  .grid-container .grid-container-col1 {
    grid-area: col1; }
  .grid-container .grid-container-col2 {
    grid-area: col2; }
  .grid-container .grid-container-col3 {
    grid-area: col3; }

.imagen-container-col2 {
  display: flex;
  flex: 50%; }
  .imagen-container-col2 img {
    border-radius: 8px;
    opacity: 0.5; }

.imagen-container-col1 img {
  opacity: 0.5;
  border-radius: 8px; }

.imagen-container-col3 img {
  opacity: 0.5;
  width: fit-content;
  height: 300px;
  border-radius: 8px; }
