* {
  margin: 0%;
  padding: 0%; }

body {
  background-color: black;
  color: blanchedalmond;
  font-family: Manrope; }

.paginaBulon {
  background-image: url(../multimedia/pexels-pixabay-257736.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.fondo {
  background-image: url(../multimedia/pexels-jason-villanueva-1146562.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.distr {
  background-image: url(../multimedia/pexels-pixabay-257736.jpg);
  background-size: cover; }

.container-info {
  padding-top: 150px;
  display: flex; }

.blockquote {
  color: black; }

.iframe-nosotros {
  color: black; }

.info {
  padding-top: 100px; }

.barra {
  background-color: #8385af; }
  .barra .navbar-brand {
    background-color: transparent !important; }

@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
  .container {
    padding-top: 100px; }
    .container .fotoProducto {
      display: flex; }
      .container .fotoProducto .columna .columna {
        flex: 50%; }
    .container .fotoProducto_texto {
      display: block; }
  .container-info {
    padding-top: 200px;
    display: flex;
    flex-direction: column; }
    .container-info .container-footer {
      width: 100%; }
      .container-info .container-footer iframe {
        width: max-content; }
  .info {
    padding-top: 100px; }
  .grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    overflow: hidden; }
    .grid-container .grid-container-col1 {
      text-align: start;
      width: initial; }
      .grid-container .grid-container-col1 img {
        width: initial; }
    .grid-container .grid-container-col2 {
      text-align: start;
      width: initial; }
      .grid-container .grid-container-col2 img {
        width: 350px; }
    .grid-container .grid-container-col3 {
      text-align: start;
      padding-top: 50px;
      width: fit-content; }
      .grid-container .grid-container-col3 img {
        width: initial; }
    .grid-container h2 {
      font-size: initial; } }

.fondoProductos {
  background-color: #1b1b1b; }

.productos {
  padding-top: 100px; }

.hover {
  text-align: center; }

.img1 {
  transition: transform 0.5s; }

:hover.img1 {
  transform: scale(0.95); }

.fotoProducto__texo {
  font-weight: 600; }

.grid-container {
  padding-top: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center; }

.imagen-container-col2 img {
  border-radius: 8px;
  opacity: 0.5; }

.grid-container-col1 .imagen-container-col1 img {
  opacity: 0.5;
  border-radius: 8px; }

.grid-container-col3 .imagen-container-col3 img {
  opacity: 0.5;
  border-radius: 8px; }
