* {
  margin: 0%;
  padding: 0%; }

body {
  background-color: black;
  color: blanchedalmond;
  font-family: Manrope; }

.paginaBulon {
  background-image: url(../multimedia/pexels-pixabay-257736.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.fondo {
  padding-top: 100px;
  background-image: url(../multimedia/pexels-jason-villanueva-1146562.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.fondo-texto {
  color: #8385af; }

.distr {
  background-image: url(../multimedia/pexels-pixabay-257736.jpg);
  background-size: cover; }

.container-info {
  padding-top: 150px;
  display: flex; }

.blockquote {
  color: black; }

.card-header-text {
  color: black; }

.iframe-nosotros {
  color: black; }

.info {
  padding-top: 100px; }

.servicios-svg {
  display: flex;
  justify-content: space-around; }
  .servicios-svg img {
    opacity: 0.5; }

.servicios-h3 {
  text-decoration: none;
  color: #8385af; }

.h3-link {
  text-decoration: none; }

.barra {
  background-color: #8385af; }
  .barra .navbar-brand {
    background-color: transparent !important; }

@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
  .fondo {
    padding-top: 150px; }
    .fondo h1 {
      text-align: center; }
  .container .columna {
    display: flex;
    justify-content: center; }
  .container .fotoProducto_texto {
    display: block; }
  .servicios-svg {
    display: flex;
    flex-direction: column; }
    .servicios-svg div {
      display: flex;
      justify-content: center; }
  .servicios-h3 {
    text-align: center; }
  .container-info {
    padding-top: 150px;
    display: flex;
    flex-direction: column; }
    .container-info .container-footer {
      width: 100%; }
      .container-info .container-footer iframe {
        width: max-content; }
  .info {
    padding-top: 150px; }
  .grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    overflow: hidden; }
    .grid-container .grid-container-col1 {
      text-align: start;
      width: initial; }
      .grid-container .grid-container-col1 img {
        width: initial; }
    .grid-container .grid-container-col2 {
      text-align: start;
      width: initial; }
      .grid-container .grid-container-col2 img {
        width: initial; }
    .grid-container .grid-container-col3 {
      text-align: start;
      padding-top: 50px;
      width: fit-content; }
      .grid-container .grid-container-col3 img {
        width: initial; }
    .grid-container h2 {
      font-size: initial; } }

.fondoProductos {
  background-color: #1b1b1b; }

.productos {
  padding-top: 100px; }

.fotoProducto__texo {
  text-align: center;
  color: #8385af;
  font-weight: 600; }

.columna {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.cont {
  position: relative;
  width: auto; }

.image {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden; }

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); }

.cont:hover .image {
  opacity: 0.3; }

.cont:hover .middle {
  opacity: 1; }

.text {
  background-color: white;
  color: blue;
  font-size: 16px;
  padding: 10px 16px; }

.container-titulo {
  padding-top: 200px;
  padding-bottom: 50px;
  text-align: center; }

.grid-container {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-content: center; }

.imagen-container-col2 img {
  opacity: 0.5; }

.imagen-container-col1 img {
  opacity: 0.5; }

.imagen-container-col3 img {
  opacity: 0.5; }
