



.barra {
    
    background-color:#bdc0c1;
    .navbar-brand {
        
        background-color: transparent!important;
        .button {
          display: flex;
          
           
            a {
               display: flex;
               justify-content: space-around;
            
             }
        }
   
}

}


