*{
    margin: 0%;
    padding: 0%;
}
body {
        
        background-color: black;
        color: blanchedalmond;
        font-family:Manrope;      
}

.paginaBulon {

    background-image: url(../multimedia/pexels-pixabay-257736.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.fondo {

    background-image: url(../multimedia/pexels-jason-villanueva-1146562.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.distr {
    background-image: url(../multimedia/pexels-pixabay-257736.jpg);
    
    background-size: cover;
}


 .container-info {
     padding-top: 150px;
     display: flex;
 }

 .blockquote {
     color: black;
 }

.iframe-nosotros {
    color: black;
}

.info {
    padding-top: 100px;
}