*{
    margin: 0%;
    padding: 0%;
}
body {
        
        background-image: linear-gradient();
        margin: 12px;
        background-color: #f8f8f8;
        background-image: -webkit-linear-gradient(104deg, #bdc0c1 0%, #e6dee6 66%);
        background-image: -moz-linear-gradient(104deg, #bdc0c1 0%, #e6dee6 66%);
        background-image: -o-linear-gradient(104deg, #bdc0c1 0%, #e6dee6 66%);
        background-image: linear-gradient(104deg, #bdc0c1 0%, #e6dee6 66%);
        ;
        font-family:Manrope;      
}
.paginaBulon {

    background-image: url(../multimedia/pexels-pixabay-257736.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.fondo {

    background-image: url(../multimedia/pexels-scott-webb-2117937.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.distr {
    background-image: url(../multimedia/pexels-pixabay-257736.jpg);
    
    background-size: cover;
}


 .info {
     padding-top: 100px;
 }



