$color-pri:black;
$color-sec: rgb(27, 27, 27);




.fondoProductos {
  background-color: $color-sec;
}

.productos {

    padding-top: 100px;
}

.hover {
 text-align: center;
}



  
  .img1 {
    transition:width 2s, height 4s;
   
    
  }
  
  
  :hover.img1 {
   
      width: 500px;
      height: 500px;
    
  }
  

  .fotoProducto__texo {
    text-align: center;
    color: rgb(131, 133, 175);
    font-weight: 600;
  }