$color-pri:black;
$color-sec: rgb(27, 27, 27);




.fondoProductos {
  background-color: $color-sec;
}

.productos {

    padding-top: 100px;
}

.hover {
 text-align: center;
}



  
  .img1 {
    transition: transform 0.5s;
   
    
  }
  
  
  :hover.img1 {
    transform: scale(0.95);
  }
  

  .fotoProducto__texo {
    
    font-weight: 600;
  }