.grid-container {
padding-top: 200px ;
display: flex;
flex-wrap: wrap;
justify-content: space-between;

  
}

.imagen-container-col2 {   
  
  
  
    img {
       border-radius: 8px;
       opacity: 0.5;
   }
  
}
.grid-container-col1 {
 
 
.imagen-container-col1 {
 
    img {

        opacity: 0.5;
        border-radius: 8px;

    }

  }

}



.grid-container-col3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
 
.imagen-container-col3 {

  
   img {
   
    opacity: 0.5;
    
    height: 300px;
    border-radius: 8px;
}
}
}


