.container-titulo {
  padding-top: 200px;
  padding-bottom: 50px;
  text-align: center;


}


.grid-container {

text-align: center;
display: flex;
justify-content:space-between;

align-content: center;
  
}

.imagen-container-col2 {   
  
  
    img {
      
       opacity: 0.5;
   }
  
}

 
 
.imagen-container-col1 {
 
    img {
      opacity: 0.5;
    }

  }







  
  
  
 
.imagen-container-col3 {

  
   img {
   
    opacity: 0.5;
    
    
    
}

}


