.grid-container {
padding-top: 200px ;
text-align: center;
display: flex;
justify-content:center;

align-content: center;
  
}

.imagen-container-col2 {   
  
  
    img {
       border-radius: 8px;
       opacity: 0.5;
   }
  
}
.grid-container-col1 {
 
 
.imagen-container-col1 {
 
    img {

        opacity: 0.5;
        border-radius: 8px;

    }

  }

}



.grid-container-col3 {

  
  
  
 
.imagen-container-col3 {

  
   img {
   
    opacity: 0.5;
    
    
    border-radius: 8px;
}
}
}


