@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {

//responsive en index

    .container   {
    padding-top: 100px;
        
        .fotoProducto {
            
          display: flex;
           .columna .columna{
               flex: 50%;
               
           }
        }
        .fotoProducto_texto {display: block;}
    }
    
   
    
  
      //responsive en pagina contactos 
  

    .container-info {
            padding-top: 200px;
            display:flex;
            flex-direction: column;
            .container-footer {
                width:100%;
                iframe {
                    width: max-content;
                }
            }
         
}

//responsive para pagina productos



 
.info {

    padding-top: 100px;
}

//responsive pag servicios


.grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:auto;
    overflow:hidden;
    
    
    
   
 
 .grid-container-col1 {
     text-align: start;
       width: initial; 
       img {
           width: initial;
       }
      
      
   }
   .grid-container-col2 {
     text-align: start;
     width: initial;
     img {
         width:350px;
     }
   
   

   }
   .grid-container-col3 {
       text-align: start;
        padding-top: 50px;
       width: fit-content;
       img {
           width: initial;
       }
      
       
       
   }
   h2 {
       font-size: initial;
   }
}
  














 }
 


